body {
    font-family: 'Muli', sans-serif;
}

.dropdown-item:active {
    color: white;
    background-color: #FDB515;
}

.funders-collaborators-img {
    width: 50%;
}

.icon-align {
    position: relative;
    bottom: 2px;
}

.img-about, .img-products {
    max-width: 100%;
    height: auto;
}

#introduction {
    background-image: linear-gradient(to bottom, rgba(250, 250, 250, 1) 0%,rgba(250, 250, 250, 0.9) 100%), url('images/undraw/introduction.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.navbar-toggler {
    border: 0px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #FFF;
    background-color: #FDB515;
}

.nav-pills .nav-link{
    color: black;
}

.rounded-circle {
    width: 125px;
    height: 125px;
}

.team-max-width {
    max-width: 50%;
}

.text-berkeley-blue {
    color: #003262;
}

.text-california-gold {
    color: #FDB515;
}

.title-hr {
    width: 100px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .img-about, .img-products {
        height: 200px;
    }

    .img-mobile {
        display: none;
    }
    
    .rounded-circle {
        width: 100px;
        height: 100px;
    }

    #team-tabs {
        text-align: center;
        margin: auto 5vh;
    }
}

@media screen and (min-width: 1200px) { 
    /* For PC and Laptop Monitors: */
    #introduction {
        background-repeat: repeat-x;
        background-size: contain;
    }

    #team {
        min-height: 760px;
    }
}
